<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.culturebud">

    <!-- common start -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <!-- common end -->

    <!-- shareSDK start -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- shareSDK end -->

    <!-- zxing start -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- zxing end -->

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.me.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.community.CommunityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.AccountSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.UserAgreementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bcircle.PublishDynamicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.front.BookStoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.search.SearchBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.search.SearchBookCommunityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.front.BookDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.front.BookBaseInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.front.BookSheetDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.community.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.bhome.CollectedBooksActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.community.BookCommunityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.community.PublishShortCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.me.GeneralEditorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.MyMsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.MyFavoritesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.RegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.RetrievePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.community.MyCommunityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bcircle.BookCircleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.bhome.NotebookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.CreateNotebookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.NotebookDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.EditNotebookNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.CreateNoteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.EditNoteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.BookScanActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.BookScanResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.ManualAddBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.me.MyFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.bhome.BookSheetsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bhome.CreateBookSheetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.bhome.EditBookSheetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.search.SearchUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".ui.bhome.ImportBookFromSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.me.FriendDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.me.InviteFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible"/>

        <activity
            android:name=".ui.bhome.UserBookHomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.image.PreviewBigImgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Welcome"/>

        <activity
            android:name=".ui.bhome.DynamicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.search.SelectBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.bcircle.MyDynamicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.search.SelectUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.bhome.BookSheetEditRecommendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.bhome.MyBookInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".ui.bhome.GeneralAddTagsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.bhome.EditBookRatingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.bhome.MyCreatedBooksActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.bhome.CustomCategoriesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name="com.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
